/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	===============================================
	Custom styles
	===============================================
*/

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2B2C43;
	margin: 0 auto;
	width: 750px;
	background: #F5B27F;
}

.logo {
	border-radius: 70%;
	height: 45px;
}

.feed-type{
	font-weight: 550;
	font-color: #555ADE;
	text-shadow: -1px 0 blue, 0 1px blue /*1px 0 black, 0 -1px black*/;
}

a {
  color: #38228F;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #C743CC;
}

textarea {
	display: inline-block;
	height: 60px;
	width: 735px;
	background-color: rgba(254, 252, 254, .25);
	padding: 4px 5px;
	border: 2px solid black;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

/*
	===============================================
	Clearfix
	===============================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after{
	clear:both;
}
.group{
	clear: both;
	*zoom: 1;
}

/*
	===============================================
	Typography
	===============================================
*/
header {
	padding: 1em;
	position: relative;
}

h1, h3, h4 {
	margin-bottom: 5px;
}

h1 {
	font-size: 50px;
	line-height: 52px;
	color: #38D7FF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	color: black;
}

h4 {
	font-size: 20px;
	line-height: 22px;
	color: black;
}

strong {
	font-weight: 400;
}

label {
	font-weight: 700;
	display: block;
}

/*
	===============================================
	Buttons
	===============================================
*/
#newTweets, .allUsers, .btn-send {
	cursor: pointer;
	font-size: 18px;
	padding: 5px;
	display: block;
}

#newTweets {
	background: #EDEBB4;
}

.allUsers {
	font-weight: 500;
	background-color: #EA9693;
	padding: 11px 30px;
	border-radius: 5px;
	width: 110px;
}

.btn-send {
	background: #55BFDE;
	padding: 11px 4px;
	border-radius: 5px;
	width: 200px;
	float: right;
	clear: both;
}
/*
	===============================================
	Tweets
	===============================================
*/

.feed {
	padding: 10px;
	display: block;
	background: white;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	border-top: 10px dotted rgba(0, 132, 180, 0.5);
}
.avatar {
	padding-top: 10px;
	height: 45px;
	width: 45px;
	padding-right: 10px;
	float: left;
	clear: both;
}

.tweets {
	opacity: 0;
	font-family: Arial;
	display: block;
	border-bottom: 1.5px solid #2D2855;
}

.user {
	font-weight: 600;
	padding-bottom: 4px;	
}

.message {
	font-size: 20px;
}

.timestamp {
	color: #7B7B7B;
	font-size: 12px;
	font-style: italic;
	font-family: sans-serif;
	float: right;
	vertical-align: top;
	clear: both;
}

/*
	===============================================
	Primary footer
	===============================================
*/

.primary-footer {
	font-size: 13px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.primary-footer small {
	float: left;
	font-weight: 400;
}